@charset "utf-8";

/* 冒頭でimport */
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');


/* body */
html, body {
	font-size: 16px;	/*基準となるフォントサイズ。*/	
	font-family: 'Righteous','M PLUS Rounded 1c', sans-serif;
  margin-left: 15px;
  margin-right: 15px;
}

html {
  height: 100%;
}

body{
  min-height: 100%;
  margin: 0px;
	padding: 0px;
  background: #fcfafa;	/*背景色*/
	color: #1c305c;		/*文字色*/
	line-height: 2;		/*行間*/
  font-family: "Righteous", "M PLUS Rounded 1c","sans-serif","メイリオ";
  font-weight: 400;
  font-style: normal;
  -webkit-text-size-adjust: none;
  overflow-x: hidden;
}

main{
  margin-bottom: 0;
  padding-bottom: 0;
}


/* header */
.header {
  height: 900px;
  width: 100%;
}
  
.header_logo{
  color: #1c305c;
  font-size: 55px;
  float: left;
  padding: 20px 30px;
}  


/*ロゴ*/
#logo img {display: block;}
#logo {
	max-width: 250px;	/*幅*/
}

/*リセット*/
figure {margin: 0;}
dd {margin: 0;}
nav,ul,li,ol {margin: 0;padding: 0;}
nav ul {list-style: none;}

/*画像全般の設定*/
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}

/*videoタグ*/
video {max-width: 100%;}

/*iframeタグ*/
iframe {width: 100%;}

/*他*/
input {font-size: 1rem;}
section + section {
	margin-top: 3rem;
}

/*リンクテキスト全般の設定
---------------------------------------------------------------------------*/
a {
	color: #1c305c;	/*文字色*/
	transition: 0.3s;	/*hoverまでにかける時間。0.3秒。*/
  text-decoration: none;
}

/*マウスオン時*/
a:hover {
	filter: brightness(1.1);	/*少しだけ明るくする*/
  text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}


/*container（サイト全体を囲むブロック）
---------------------------------------------------------------------------*/
#container {
	margin-left: 15px;	/*ブロックの外側にとるスペース*/
  margin-right: 15px;
  margin-bottom: 0;
}


/*aboutとlocationの画像設定
---------------------------------------------------------------------------*/
.about-image, .location-image {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  margin-top: 1rem;
}


#about{
  margin-top: 10vh;
}

#about_text{
  position: absolute;
  text-align: left;
  top: 150px;
  left: 30px;
  margin-right: 550px;
  font-family: 'Ubuntu Mono','M PLUS Rounded 1c';
  font-size: 12px;
}

#about img{
  position:absolute;
  top:10vh;
  right: 3%;
  width: 450px;
  height: 500px;
  object-fit: cover;
}

.concept h2{
  font-family: "Righteous";
  font-size: 35px;
  margin-top: 70px;
  padding-top: 30px;
}


.concept a{
  font-family: "Ubuntu Mono";
  font-size: 35px;
  text-align: left;
}



/*menuの設定
---------------------------------------------------------------------------*/

#menu{
  margin-top: 100vh;
  font-family:  'Ubuntu Mono','M PLUS Rounded 1c';
}

#menu h2{
  font-family: "Righteous";
  font-size: 2.3rem;
  margin-top: 70px;
  padding-top: 30px;
}


.item {
  position: absolute;
  right: 10px;
  top: 45px;
  display: flex;
  gap: 0 10px;
  margin: 0 auto;
}


.exp img{
  width: 250px;
  height: 250px;
  object-fit: cover;
}


.exp h4{
  padding: 0px;
  margin-top: 10px;
  margin-left: 6px;
  line-height: 1.5;
  font-size: 14px;
}

#menu .menu-other {
  margin-top: 30vw;
}


#menu .menu-other__title {
  font-size: 1.6rem;
  line-height: 2;
  border-bottom: 3px double #1c305c;
  margin-bottom: 0;
}

#menu .menu-other__contents {
  width: 100%;
  min-height: 15.6vh;
  padding: 0.5vw 0;
  display: flex;
}

#menu .menu-other__contents:not(:first-of-type){
  border-top: 1px solid #D9D9D9;
}

#menu .menu-other__name {
  width: 84%;
  display: flex;
}

#menu .menu-other__name h4 {
  width: 48%;
  font-size: 1.0rem;
  font-weight: 600;
}

#menu .menu-other__name p {
  width: 52%;
  margin-top: 0.4vw;
  font-size: 1.0rem;
  font-weight: 600;
}

#menu .menu-other__detail {
  width: 10%;
  font-size: 1.0rem;
  font-weight: 600;
}

#menu .menu-other__detail dl {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.4vw;
}

#menu .menu-other__note {
  color: #9B9A91;
  font-size: 0.7rem;
}



/* -----------------------------------------------------------
    SHOP
----------------------------------------------------------- */
.shop {
  margin-top: 30vh;
}

.shop .shop-inner {
  position: relative;
}

.shop h2 {
  font-size: 2.3rem;
  position: absolute;
  left: 0vw;
}

.shop__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.shop__text{
  width: 30vw;
  margin-right: 5vw;
}


.shop p{
  font-family:  'Ubuntu Mono','M PLUS Rounded 1c';
  line-height: 1.0;
  font-size: 1.0rem;
}

.shop__img{
  width: 500px;
  height: 250px;
  object-fit: cover;
}

.shop__caption {
  width: 20%;
  margin-left: 2.5vw;
  margin-bottom: 2vw;
  font-size: 1.4rem;
}

.shop__list {
  padding-top: 8vh;
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.shop__name {
  font-family:  'Ubuntu Mono','M PLUS Rounded 1c';
  margin-top: 0.5vw;
  font-size: 1.0rem;
}

.shop__link {
  margin-top: 11vh;
  text-align: center;
}

.shop__link-btn {
  width: 40vw;
  display: inline-block;
  padding: 0.8vw 0 0.8vw 0;
  font-size: 1.5rem;
  background-color: #B98A67;
  text-decoration: none;
}

.shop__link-btn:link, .shop__link-btn:visited {
  color: #EDECE7;
}

.shop__link-caption {
  font-size: 1.0rem;
  line-height: 1.8;
  margin-top: 3.5vh;
}

@media not all and (min-width: 769px) {
  .shop {
    padding-top: 0;
  }
  .shop .shop-inner {
    padding: calc(var(--vh, 1vh) * 14) 4.35vw 0;
  }
  .shop__title {
    font-size: 1.9rem;
    position: relative;
    top: auto;
    left: auto;
  }
  .shop__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .shop__caption {
    width: 65%;
    margin: 8vw 0 0 0;
    font-size: 1.2rem;
  }
  .shop__list {
    width: 100%;
    margin-top: 3vw;
  }
  .shop__name {
    margin-top: 1.5vw;
    font-size: 1.1rem;
  }
  .shop__link {
    margin-top: calc(var(--vh, 1vh) * 5);
  }
  .shop__link-btn {
    width: 100%;
    padding: 5vw 0 4vw 0;
    font-size: 1.8rem;
  }
  .shop__link-caption {
    font-size: 1.1rem;
    line-height: 1.95;
    margin-top: calc(var(--vh, 1vh) * 4);
  }
}




/* -----------------------------------------------------------
    LOCATION
----------------------------------------------------------- */
.location .location-inner {
  margin-top: 40vh;
  margin-bottom: 0;
  padding-bottom: 0;
}

.location__title {
  font-size: 1.6rem;
  margin-top: 8.2vh;
  padding-left: 0vw;
}

.location__body {
  margin-top: 10vh;
  padding-left: 5vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  padding-bottom: 0;
}

.location__address {
  width: 25vw;
  height: 25vh;
  font-size: 1.0rem;
  line-height: 1.5;
  font-family:  'Ubuntu Mono','M PLUS Rounded 1c';
}

.location-nav {
  font-size: 1.4rem;
  margin-top: 3.5vh;
}

.location-nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.location-nav__list:not(:first-child) {
  margin-top: 1vw;
}

.location-nav__item:not(:first-child) {
  margin-left: 2vw;
}

.g-map {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
  margin-bottom: 0;
  padding-bottom: 0;
}
.g-map iframe {
  position: absolute;
  top: -20vw;
  right: 0.5vw;
  width: 700px;
  height: 350px;
  padding-bottom: 0;
  margin-bottom: 0;
}

@media not all and (min-width: 769px) {
  .location .location-inner {
    margin-top: calc(var(--vh, 1vh) * 22);
  }
  .location__title {
    font-size: 1.8rem;
    margin-top: calc(var(--vh, 1vh) * 6);
    padding-left: 4.35vw;
  }
  .location__body {
    margin-top: calc(var(--vh, 1vh) * 3);
    padding-left: 4.35vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .location__address {
    width: 100%;
    font-size: 1.1rem;
  }
  .location__caption {
    font-size: 1.2rem;
    line-height: 1.7;
    margin-top: calc(var(--vh, 1vh) * 2.5);
  }
  .location .location-nav {
    font-size: 1.5rem;
    margin-top: calc(var(--vh, 1vh) * 4.5);
  }
  .location .location-nav__list:not(:first-child) {
    margin-top: calc(var(--vh, 1vh) * 2.3);
  }
  .location .location-nav__item:not(:first-child) {
    margin-left: 6vw;
  }
}



/* -----------------------------------------------------------
    FOOTER
----------------------------------------------------------- */
.footer{
  margin-top: 0;
  padding-top: 0;
  width: 100%;
}

.footer .footer-inner {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(50% - 50vw);
  background-color: #1c305c;
  padding: 0 1.5625vw 1.5625vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 1.3rem;
  color: #fcfafa;
}

.footer__mail {
  width: 25vw;
}

.footer__mail dt {
  font-size: 1.1rem;
  line-height: 2;
}

.footer__mail a {
  text-decoration: underline;
  color: #fcfafa;
}

.footer__address {
  width: 48vw;
}

.footer__copyright {
  width: 24vw;
  text-align: right;
}





@media not all and (min-width: 769px) {
  .footer .footer-inner {
    width: 100%;
    margin-top: calc(var(--vh, 1vh) * 4.5);
    padding: 0 4.35vw 3vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__mail {
    width: 100%;
  }
  .footer__mail dd {
    font-size: 1.5rem;
  }
  .footer__address {
    display: none;
  }
  .footer__copyright {
    width: 100%;
    margin-top: calc(var(--vh, 1vh) * 11.5);
    text-align: center;
    font-size: 1.3rem;
  }
}







/*==================================================
 共通　横並びのための設定
===================================*/

.gnavi{
    display: flex;
    flex-wrap: wrap;/*スマホ表示折り返し用なのでPCのみなら不要*/
    margin:0 0 50px 0;
    list-style: none;

}

.gnavi li a{
    display: block;
    padding:10px 30px;
    text-decoration: none;
    color: #1c305c;
}

.gnavi li{
    margin-bottom:20px;
    font-size: 18px;
    list-style: none;
    float: left;
    text-align: left;
    padding-left: 50px;
}

/*==================================================
 円が線に変化
===================================*/


.gnavi li a{
    /*円の基点とするためrelativeを指定*/
	position: relative;
}

.gnavi li.current a,
.gnavi li a:hover{
	color:#1c305c;
}

.gnavi li a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 0;
    /*線になる丸の形状*/
    width: 100%;
    height: 5px;
    border-radius: 50%;
    background:#1c305c;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0.04, 1);/*X方向0.04、Y方向1*/
    transform-origin:center bottom;/*中央下部基点*/
}


/*現在地とhoverの設定*/
.gnavi li.current a::after,
.gnavi li a:hover::after {
    height: 2px;/*縦幅を変化*/
    border-radius: 0;/*丸みをなくす*/    
    transform: scale(0.8, 1);/*X方向0.8、Y方向1にスケール拡大*/
}

/*========= 途中からハンバーガーメニューに変化するのためのCSS ===============*/

/*========= ボタンのためのCSS ===============*/

/*ボタン全体の形状*/
.openbtn{
  /*はじめは非表示に*/
	display: none;
  /*ボタンの位置*/
	position:fixed;
	top:10px;
	right: 10px;
	z-index: 999;
  /*ボタンの形状*/
	background:#1c305c;
	cursor: pointer;
  width: 50px;
  height:50px;
	border-radius: 5px;
}

/*ボタンのアイコン設定*/
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background-color: #fff;
  	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

/*activeクラスが付与された後のボタンのアイコン設定*/
.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

/*fadeDownクラスが付与された後のボタンの出現アニメーション設定*/
.fadeDown {
    animation-name: fadeDownAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    display: block;
}
@keyframes fadeDownAnime{
  from {
    opacity: 0;
	transform: translateY(-100px);
  }

  to {
    opacity: 1;
	transform: translateY(0);
  }
}





/*----------------------------
scroll_up ｜下から上へ出現
----------------------------*/
.scroll_up {
  transition: 1.5s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}
.scroll_up.on {
  transform: translateY(0);
  opacity: 1.0;
}



/*----------------------------
scroll_left ｜左から出現
----------------------------*/
.scroll_left {
    -webkit-transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
    transform: translateX(-30px);
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
}
.scroll_left.on {
    opacity: 1.0;
    filter: alpha(opacity=100);
    -moz-opacity: 1.0;
    transform: translateX(0);
}

/*----------------------------
scroll_right ｜右から出現
----------------------------*/
.scroll_right {
    -webkit-transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
    transform: translateX(30px);
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
}
.scroll_right.on {
    opacity: 1.0;
    filter: alpha(opacity=100);
    -moz-opacity: 1.0;
    transform: translateX(0);
}





/*========= ヘッダーナビゲーションのためのCSS ===============*/

/*.doneクラスがついたヘッダー*/
#header.dnone {
	opacity: 0;/*透過0にして非表示に*/
}

/*メニューボタンをクリックした際に付与されるpanelactiveクラスがついたら*/
#header.dnone.panelactive {
	opacity: 1;/*不透明にして出現*/
}


/*==ヘッダーのテキストナビゲーションの形状*/
#g-navi ul{
	list-style: none;
	display: flex;
	justify-content: center;
}

#g-navi ul li a{
	display: block;
	text-decoration: none;
	color: #1c305c;
	padding:10px;
}

#g-navi ul li.current a,
#g-navi ul li a:hover{
	color:#fff;	
}

/*.doneクラスがついたヘッダーのテキストナビゲーションの形状*/
#header.dnone #g-navi{
    /*固定位置にして最背面に*/
    position:fixed;
	top: 0;
    left: 0;
	z-index: -1;
    /*高さと幅*/  
	width:100%;
	height: 100vh;
    /*天地中央＆テキスト中央揃え*/  
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    /*はじめは透過0に*/  
    opacity: 0;
	transition: all 0.4s;
}

/*メニューボタンをクリックした際に付与されるpanelactiveクラスがついたナビゲーションの形状*/
#header.dnone.panelactive #g-navi{
	opacity: 1;/*不透明に*/
	z-index:3;/*最前面に*/
	background:#eee;
}

#header.dnone.panelactive #g-navi ul{
	display:block;/*flexの横並びをblockにして縦並びに*/
}


/*リストの形状*/

#header.dnone.panelactive #g-navi li a{
	color: #1c305c;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
	transition:all 0.3s;
}
section{
    position: relative;
    z-index: 1;
}


/*==================================================
スライダーのためのcss
===================================*/
.slider {
    position:relative;
    z-index: 1;
    /*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
    width: 100%;
    height: 100vh;/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}
/*　背景画像設定　*/
  
.slider-item01 {
  background:url(../images/slide1.jpg);
}
  
.slider-item02 {
  background:url(../images/slide2.jpg);
}
  
.slider-item03 {
  background:url(../images/slide3.jpg);
}
  
.slider-item {
  width: 100%;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
  height: 80vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  background-repeat: no-repeat;/*背景画像をリピートしない*/
  background-position: center;/*背景画像の位置を中央に*/
  background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
}
  
/*矢印の設定*/
  
.slick-prev, 
.slick-next {
  position: absolute;
  z-index: 3;
  top: 42%;
  cursor: pointer;/*マウスカーソルを指マークに*/
  outline: none;/*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #fcfafa;/*矢印の色*/
  border-right: 2px solid #fcfafa;/*矢印の色*/
  height: 25px;
  width: 25px;
}
  
.slick-prev {/*戻る矢印の位置と形状*/
  left:2.5%;
  transform: rotate(-135deg);
}
  
.slick-next {/*次へ矢印の位置と形状*/
  right:2.5%;
  transform: rotate(45deg);
}
  
/*ドットナビゲーションの設定*/
  
.slick-dots {
  position: relative;
  z-index: 3;
  text-align:center;
  margin: 5px 0 0 0;/*ドットの位置*/
}
  
.slick-dots li {
  display:inline-block;
  margin:0 5px;
}
  
.slick-dots button {
  color: transparent;
  outline: none;
  width: 40px;/*ドットボタンのサイズ*/
  height:5px;/*ドットボタンのサイズ*/
  display:block;
  border-radius:50%;
  background:#fcfafa;/*ドットボタンの色*/
}
  
.slick-dots .slick-active button{
  background:#1c305c;/*ドットボタンの現在地表示の色*/
}





/*facebookやtwitterなどのアイコン
---------------------------------------------------------------------------*/
/*アイコン全体を囲むブロック*/
ul.icon {
	margin-bottom: 20px;
}
/*アイコン１個あたりの設定*/
ul.icon li {
	display: inline-block;	/*横並びにさせる指定*/
}
/*アイコン画像の設定*/
ul.icon img {
	width: 30px;		/*画像の幅*/
}
ul.icon img:hover {
	opacity: 0.8;		/*マウスオン時に透明度を80%にする。*/
}


/*画面幅800px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:800px){

  /*コンテンツ
  ---------------------------------------------------------------------------*/
  #contents {
    padding: 50px 0px;	/*上下、左右へのコンテンツ内の余白*/
  
  }
  
  }

  /*画面が横向きの場合の設定、かつ、画面幅800px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (orientation:landscape) and (max-width:800px){

  /*メインメニューブロックの設定
  ---------------------------------------------------------------------------*/
  /*メニューブロックの上に空ける余白*/
  #menubar ul {
    margin-top: 80px;
  }
  
  }


/*画面幅480px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:480px){

  /*全体の設定
  ---------------------------------------------------------------------------*/
  html,body {
    font-size: 12px;	/*画面幅480px以下で閲覧した際の文字サイズ。*/
  }
  
  /*ヘッダー
  ---------------------------------------------------------------------------*/
  /*ロゴ画像*/
  header #logo {
    left: 30%;	/*左からの配置場所*/
    width: 40%;	/*幅*/
    top: 40%;	/*上からの配置場所*/
  }
  
  /*３本バーアイコン設定
  ---------------------------------------------------------------------------*/
  /*３本バーブロック*/
  #menubar_hdr {
    top: 30px;	/*上からの配置場所*/
    left: 3%;	/*左からの配置場所*/
  }
  
  /*コンテンツ
  ---------------------------------------------------------------------------*/
  /*h2タグ*/
  #contents h2 {
    margin-bottom: 30px;
  }
  /*他、微調整*/
  #contents section + section {
    margin-top: 50px;
  }
  
  /*テーブル（ta1）
  ---------------------------------------------------------------------------*/
  /*ta1設定*/
  .ta1, .ta1 td, .ta1 th {
    padding: 5px;	/*ボックス内の余白*/
  }
  /*ta1の左側ボックス*/
  .ta1 th {
    width: 100px;
  }
  
  /*その他
  ---------------------------------------------------------------------------*/
  .ws,.wl {width: 94%;}
  .w48p {width: 100%;}
  .fl {float: none;}
  .fr {float: none;}
  .sh {display:block;}
  .pc {display:none;}
  
  }